<%= render "layouts/navbar", page: "" %>

<figure>
<blockquote>
  <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
  <figcaption>
      - Samuel Jackson, in "<cite>Pulp Fiction.</cite>"
    </figcaption>
  </blockquote>
</figure>

<div class="container front-page page">
    <div class="col-sm-12">
        <div class="row">
            <div class="ui-shecodes-mission text-center">
                <p>We are community driven.</p>
                <p>We educate and empower.</p>
                <p>We are closing the gender gap in tech.<p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="ui-persona-row">
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'>
                    <%= link_to image_tag("static_pages/front_page_she.png", class: "persona-img"), "resources/tags/women" %>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'>
                    <%= link_to image_tag("static_pages/front_page_company.png", class: "persona-img"), "resources/tags/companies" %>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ui-persona-col">
            <div class='ui-rectangle-box'>
                <div class='ui-rectangle-content'>
                    <%= link_to image_tag("static_pages/front_page_supporter.png", class: "persona-img"), "resources/tags/supporters" %>
                </div>
            </div>
        </div>
    </div>
</div>
